{% extends 'base.html' %}
{% block title %}My Accounts{% endblock title %}
{% block content %}
{% load static %}

            <h1>My Accounts</h1>
            <table>
                <tr><th>Name</th><th>Number</th><th>Number of receipts</th></tr>
                {% for account in account_list %}
                <tr><td>{{ account.name }}</td><td>{{ account.number }}</td><td>{{ account.receipts.count }}</td></tr>
                {% endfor %}
            </table>

{% endblock content %}
