{% extends 'base.html' %}
{% block title %}My Categories{% endblock title %}
{% block content %}
{% load static %}

            <h1>My Categories</h1>
            <table>
                <tr><th>Name</th><th>Number of receipts</th></tr>
                {% for category in category_list %}
                <tr><td>{{ category.name }}</td><td>{{ category.receipts.count }}</td></tr>
                {% endfor %}
            </table>

{% endblock content %}
